<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <!-- The label should be the same as the filename without the extension -->
    <string>com.smillieware.MOSBasicDailyDump</string>
    <!-- Specify how to run your program here -->
    <key>ProgramArguments</key>
    <array>
                <string>/usr/local/bin/mosbasic</string>
	            <string>forcedatadump</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>01</integer>
        <key>Hour</key>
        <integer>07</integer>
        <key>StandardOutPath</key>
        <string>/tmp/mosbasicdailydump-output.txt</string>
        <key>StandardErrorPath</key>
        <string>/tmp/mosbasicdailydump-errors.txt</string>
    </dict>
</dict>
</plist>
